name: Build EXE

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Restore NuGet packages
        run: nuget restore SmartCampusDashboard.sln

      - name: Build project
        run: msbuild SmartCampusDashboard.sln /p:Configuration=Release

      - name: Upload EXE
        uses: actions/upload-artifact@v4
        with:
          name: SmartCampusDashboard-EXE
          path: |
            **/bin/Release/*.exe
            **/bin/Release/*.dll
